<a href="/logout" class="btn btn-primary btn-sm">Logout</a><br>
<strong><%= user.given_name %></strong><br>
<strong><%= user.family_name %></strong><br>
<strong><%= user.nickname %></strong><br>
<strong><%= user.name %></strong><br>
<strong><%= user.email %></strong><br>
<img src="<%= user.picture %>">
